body {
  font-family: "Montserrat", sans-serif;
}

/*header*/
header{
  height: 100vh;
  background: url(header-img.jpeg);

}

/*navbar*/
/*end of navbar*/ 

/*banner*/
/*end of banner*/

/*end of header*/